@import "utils";
@import "fonts";
@import "typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  background: #e7e7e7;
  margin-bottom: 30px;
}

.section {
  width: 100%;
  display: flex;
  height: 760px;
  margin-bottom: 60px;

  @include onTablet {
    margin-bottom: 24px;
  }
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background: #e7e7e7;
  border-right: 30px solid #fff;

  @include onTablet {
    display: none;
    margin-bottom: 48px;
  }

  &__tablet {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    background: #e7e7e7;
    border-bottom: 30px solid #fff;

    @include onTablet {
      display: flex;
    }
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;

  &__container {
    &-first {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 760px;

      @include onTablet {
        width: 66.6%;
      }
    }

    &-second {
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 760px;

      @include onTablet {
        width: 33.3%;
      }
    }

    &-third {
      display: flex;
      flex-direction: column;
      width: 33.3%;
      height: 100%;
    }
  }

  &__second {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    background: #e7e7e7;
    flex-wrap: wrap;
  }

  &__1 {
    width: 100%;
    height: 55%;
    border-bottom: 30px solid #dfbd42;
  }

  &__2 {
    width: 50%;
    height: 50%;
    border-right: 15px solid #9eca82;
    border-bottom: 15px solid #9eca82;
  }

  &__3 {
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: #e7e7e7;
    border-left: 15px solid #9eca82;
    border-bottom: 15px solid #9eca82;
  }

  &__4 {
    width: 50%;
    height: 50%;
    border-right: 15px solid #9eca82;
    border-top: 15px solid #9eca82;
  }

  &__5 {
    width: 50%;
    height: 50%;
    border-left: 15px solid #9eca82;
    border-top: 15px solid #9eca82;
  }

  &__6 {
    width: 100%;
    height: 50%;
    border-left: 30px solid #da6487;
    border-bottom: 30px solid #da6487;
  }

  &__7 {
    width: 100%;
    height: 50%;
    border-left: 30px solid #da6487;
  }

  &__8 {
    width: 33.3%;
    height: 100%;
    background: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 15px solid #73bcaf;
  }

  &__9 {
    width: 100%;
    height: 50%;
    border-left: 15px solid #73bcaf;
    border-bottom: 15px solid #73bcaf;
  }

  &__10 {
    width: 100%;
    height: 50%;
    border-left: 15px solid #73bcaf;
    border-top: 15px solid #73bcaf;
  }

  &__11 {
    width: 33.3%;
    height: 100%;
    border-left: 30px solid #73bcaf;
  }
}

.footer {
  width: 75%;
  display: flex;
  height: 320px;
  margin-bottom: 68px;

  @include onTablet {
    width: 100%;
  }
}
